<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="TfsCommitMonitor" type="TfsCommitMonitor.Config.TfsCommitMonitorConfigurationSection, TfsCommitMonitor" />
    </configSections>
    <appSettings>        
    </appSettings>
    <TfsCommitMonitor checkIntervalInSeconds="120" notifierOpeningMilliseconds="1000" notifierHidingMilliseconds="1000" notifierStayOpenMilliseconds="5000">
        <servers>
            <server id="TFS-Externe" tfsTeamProjectCollection="http://tfs:8080/" changesetRetrieved="2500" changesetDisplayed="250">
                <folder itemId="Project1" monitoredFolder="$/Project1/trunk" />
            </server>
        </servers>
        <ignoredUsers>
            <user id="IgnoredUser1" />
        </ignoredUsers>
    </TfsCommitMonitor>
</configuration>